<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="husband" class="com.lx.springframework.test.Dependency_loopBean.Husband">
        <property name="wife" ref="wife"/>
    </bean>

    <bean id="wife" class="com.lx.springframework.test.Dependency_loopBean.Wife">
        <property name="husband" ref="husband"/>
        <property name="mother" ref="usbandMother"/>
    </bean>

    <bean id="husbandMother" class="com.lx.springframework.test.Dependency_loopBean.HusbandMother"/>

    <!-- AOP 配置，验证三级缓存 -->
    <bean class="com.lx.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="beforeAdvice" class="com.lx.springframework.test.Dependency_loopBean.SpouseAdvice"/>

    <bean id="methodInterceptor" class="com.lx.springframework.aop.framework.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>

    <bean id="pointcutAdvisor" class="com.lx.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* com.lx.springframework.test.Dependency_loopBean.Wife.*(..))"/>
        <property name="advice" ref="methodInterceptor"/>
    </bean>

</beans>